server {
    server_name boerse.willkommeninwoellstein.de;

    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/ssl/certs/willkommeninwoellstein.de.crt;
    ssl_certificate_key /etc/ssl/private/willkommeninwoellstein.de.key;

    if ($scheme = http) {
        return 301 https://$host$request_uri;
    }

    location / {
        proxy_pass http://localhost:18800;
        proxy_set_header X-Fenhl-TLS $https;
        proxy_intercept_errors on;
    }

    error_page 401 /error/401.html;
    error_page 404 /error/404.html;
    error_page 500 502 503 504 /error/50x.html;

    location /error/ {
        root /opt/git/github.com/fenhl/boerse.willkommeninwoellstein.de/master;
        internal;
    }
}
