server {
    server_name ~^(boerse|xn--brse-5qa)\.(willkommeninwoellstein\.de|wiw\.(dev\.)?(mercredi\.)?fenhl\.net)$;
    server_name ~^(wiw-boerse|xn--wiw-brse-r4a)\.pmpl\.de$; # aliased for historical reasons

    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/willkommeninwoellstein.de/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/willkommeninwoellstein.de/privkey.pem;

    location / {
        proxy_pass http://localhost:18800;
    }

    error_page 404 /error/404.html;
    error_page 500 502 503 504 /error/50x.html;

    location /error/ {
        root /opt/git/github.com/fenhl/boerse.willkommeninwoellstein.de/master;
        internal;
    }
}
