server {
    server_name static.willkommeninwoellstein.de;

    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/ssl/certs/willkommeninwoellstein.de.crt;
    ssl_certificate_key /etc/ssl/private/willkommeninwoellstein.de.key;

    if ($scheme = http) {
        return 301 https://$host$request_uri;
    }

    root /opt/git/github.com/fenhl/wiw-web-common/master/static;
    charset utf-8;

    location / {
        autoindex on;
        try_files $uri $uri.html $uri/ =404;
    }
}
