server {
    server_name ~^static\.(willkommeninwoellstein\.de|wiw\.(dev\.)?(mercredi\.)?fenhl\.net)$;

    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/willkommeninwoellstein.de/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/willkommeninwoellstein.de/privkey.pem;

    root /opt/git/github.com/fenhl/wiw-web-common/master/static;
    charset utf-8;

    location / {
        autoindex on;
        try_files $uri $uri.html $uri/ =404;
    }
}
