server {
    server_name willkommeninwoellstein.de;

    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/ssl/certs/willkommeninwoellstein.de.crt;
    ssl_certificate_key /etc/ssl/private/willkommeninwoellstein.de.key;

    if ($scheme = http) {
        return 301 https://$host$request_uri;
    }

    root /var/www/willkommeninwoellstein.de;
    index index.html;
    charset utf-8;

    location / {
        try_files $uri $uri.html $uri/ =404;
    }
}
