server {
    server_name "~^([a-z]{2}\.)?(willkommeninwoellstein\.de|wiw\.(dev\.)?(mercredi\.)?fenhl\.net)$";

    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/willkommeninwoellstein.de/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/willkommeninwoellstein.de/privkey.pem;

    root /var/www/willkommeninwoellstein.de;
    index index.html;
    charset utf-8;

    location / {
        try_files $uri $uri.html $uri/ =404;
    }
}
